<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<h1><%= @user.name %>, you have an event coming up!</h1>
<p>The event <%= @event %> is coming up soon.</p>
</body>
</head>
</html>