// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup {
  float: left;
  background-color: lightcyan;
  width: 45%;
  margin: 0.5cm;
  padding-top: 1cm;
  padding-bottom: 2cm;
}

#signin {
  float: right;
  width: 45%;
  background-color: #DADADA;
  margin: 0.5cm;
  padding-top: 1cm;
  padding-bottom: 6.35cm;
}

#attending{
  width: 1000px;
  background-color: lightgrey;
  padding: 10px;
}

#hosting {
  width: 1000px;
  background-color: lightgrey;
  padding: 10px;
}
footer {
  clear : both;
}
